.icon-48-importars {
      background-image: url(../images/l_importars.png);
      padding-left:60px!important;
}

.icon-48-importar {
      background-image: url(../images/l_importars.png);
      padding-left:60px!important;
}

