.icon-48-gallerylistas {
      background-image: url(../images/l_gallerylistas.png);
      padding-left:60px!important;
}

.icon-48-listagaleria {
      background-image: url(../images/l_gallerylistas.png);
      padding-left:60px!important;
}

