.icon-48-arquivoss {
      background-image: url(../images/l_arquivoss.png);
      padding-left:60px!important;
}

.icon-48-arquivos {
      background-image: url(../images/l_arquivoss.png);
      padding-left:60px!important;
}

