<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="update">
        <field name="downloadid" type="text" default="" size="50" label="COM_PWTSEO_DOWNLOAD_LABEL" description ="COM_PWTSEO_DOWNLOAD_DESC" />
    </fieldset>
    <fieldset name="oauth">
        <fields>
            <field
                    type="spacer"
                    name="spacer_01"
                    label="COM_PWTSEO_CONFIG_OAUTH_HEADER"
            />
            <field
                    name="clientid"
                    type="text"
                    label="COM_PWTSEO_CONFIG_CLIENT_ID_LABEL"
                    description="COM_PWTSEO_CONFIG_CLIENT_ID_DESC"
                    class="input-xxlarge"
            />
            <field
                    name="clientsecret"
                    type="text"
                        label="COM_PWTSEO_CONFIG_CLIENT_SECRET_LABEL"
                    description="COM_PWTSEO_CONFIG_CLIENT_SECRET_DESC"
            />
            <field
                    name="domain"
                    type="url"
                    label="COM_PWTSEO_CONFIG_OAUTH_DOMAIN_LABEL"
                    description="COM_PWTSEO_CONFIG_OAUTH_DOMAIN_DESC"
            />
        </fields>
    </fieldset>
    <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
        <field name="rules"
               type="rules"
               label="JCONFIG_PERMISSIONS_LABEL"
               filter="rules"
               component="com_pwtseo"
               section="component">
        </field>
    </fieldset>
</config>
